:root {
  --white: #fff;
  --purple: #6f536f;
}

body {
  width: 100%;
  height: 100%;
}
.container-sm {
  font-family: "Helvetica Neue";
  color: var(--purple);
  background-color: #d9d9d9;
}

/* header */

.header-container {
  width: 100%;
}

.banner-container {
  width: 100%;
  height: 383px;
  position: relative;
  display: flex;
}

.left-banner {
  background-image: url(../img/Banner_Photo_Left.png);
  background-position: left top;
  background-repeat: no-repeat;
  flex: 50%;
}

.right-banner {
  background-image: url(../img/Banner_Photo_Right.png);
  background-position: right top;
  background-repeat: no-repeat;
  flex: 50%;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 383px;
}
.header-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.header-text {
  height: 27%;
  align-items: center;
  text-align: center;
}

.logo {
  height: 10px;
  padding-right: 5px;
}

.title {
  display: flex;
}
.title h1 {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 5px;
}

.subtitle {
  font-size: 29px;
  font-weight: 700;
  line-height: 44px;
  width: 70%;
  letter-spacing: -0.75px;
}

.subtitle h2 {
  margin: 0;
}

.header-button {
  width: 55%;
}
.header-button button {
  width: 175px;
  height: 35px;
  background: var(--white);
  border: 2px solid var(--white);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.0932259);
  border-radius: 5px;
}

.header-button button:hover {
  background-color: var(--purple);
  color: var(--white);
}
.header-button button:hover > a {
  color: var(--white);
}

.header-button a {
  font-size: 14px;
  font-weight: 500px;
  line-height: 24px;
  color: var(--purple);
  text-decoration: none;
}

.header-button a:hover {
  color: var(--purple);
  text-decoration: none;
}

/* section */

.section-container {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.3px;
  width: 85%;
  margin-bottom: 20px;
}

.section-card {
  display: flex;
  width: 80%;
  height: 320px;
  background: var(--white);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.0462706);
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.section-card p {
  width: 80%;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.08125px;
}

.section-card video {
  width: 50%;
  height: 50%;
}

.section-card button {
  color: var(--purple);
  cursor: pointer;
  background: var(--white);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.0462706);
  border-radius: 5px;
  border: 2px solid var(--purple);
  width: 70%;
  height: 30px;
  margin-top: 10px;
}

button {
  transition: all 0.3s ease-in-out;
}

.section-card button:hover {
  background-color: var(--purple);
  color: var(--white);
}

/* article */

.article-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-article {
  display: flex;
  width: 90%;
  align-items: center;
  margin-bottom: 30px;
  flex-direction: column;
  margin-top: 20px;
}

#integrity-img {
  width: 63px;
  height: 71px;
}

.section-article p {
  width: 80%;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.08125px;
}

.section-article button {
  color: var(--purple);
  cursor: pointer;
  background: transparent;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.0462706);
  border-radius: 5px;
  border: 2px solid var(--purple);
  width: 40%;
  height: 30px;
  margin-top: 10px;
}

.section-article button:hover {
  background-color: var(--purple);
  color: var(--white);
}

/* footer */

.footer-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--white);
  padding-bottom: 50px;
}

.footer-title {
  margin-top: 50px;
}

.social-links {
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 120px;
  margin-bottom: 30px;
}

.social-links a {
  text-decoration: none;
}

.social-links a:hover {
  text-decoration: none;
  color: var(--purple);
}

.fa {
  font-size: 20px !important;
  color: var(--purple);
}

/* media screen */

@media (min-width: 1000px) {
  .section-title {
    width: 40%;
  }

  .section-article button,
  .section-card button {
    width: 160px;
    height: 40px;
  }

  .article-container {
    flex-direction: row;
  }
}
